# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.example`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# == General ==

DOMAIN_NAME=example.com
DOMAIN_IP=127.0.0.1

# == Django ==

# Set this to `local`, `dev` or `prod`.
# DJANGO_ENV=dev

# Generate your secret key with:
# python -c "from django.utils.crypto import get_random_string; print(get_random_string(50))"

DJANGO_SECRET_KEY=__CHANGE__ME__

# == Database ==

# If you want to use PostgreSQL, uncomment this line.
# USE_POSTGRES=1

POSTGRES_DB=project
POSTGRES_USER=project
POSTGRES_PASSWORD=__CHANGE__ME__

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# === Backup ===

# Backup only works in production environment.

BACKUP_INTERVAL=24 # 1 day (24 hours)
BACKUP_MAX_AGE=168 # 1 week (168 hours)
