# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

DOMAIN_NAMES='web'
DOMAIN_IPS='127.0.0.1'

# Generate your secret key with:
# python -c "from django.utils.crypto import get_random_string; print(get_random_string(50))"

DJANGO_SECRET_KEY='django-insecure-b5^zu$(9az(ur(trcy3%r%c*7v%v!l!2(xq=g9!ny)i8phtu^6'


# === Database ===

POSTGRES_DB=test-project
POSTGRES_USER=test-project
POSTGRES_PASSWORD=test-project

POSTGRES_HOST=db
POSTGRES_PORT=5432